/* About.css */

/* Outermost container */
.about-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #1a1a1a; /* Dark background color */
    color: #f0f0f0; /* Light text color */
    padding-top: 5%;
}

.about-container h1 {
    font-size: 3rem; /* Adjust the font size */
    color: rgb(245, 162, 20); /* Light text color */
    margin: 0 0 0 0; /* Margin below the header */
}

.about-container h3 {
    color: white;
}

.introduction {
    display: flex;
    
    align-items: center;
    text-align: left;
    margin: 1rem 0;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 2rem;
    border: 1px solid #ffffff; /* Optional: Add a border for better visibility */
}

.intro-text {
    max-width: 600px;
}

.intro-text p {
    font-size: 1.1rem; /* Adjust the font size */
    color: #cccccc; /* Light text color */
    line-height: 2;
    margin: 0.5rem 0; /* Margin above and below the paragraph */
}

.details {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 1rem; /* Add padding for inner spacing */
    text-align: left;
    font-size: 1.1rem; /* Adjust the font size */
    line-height: 2;
}

.details h5 {
    font-size: 1.4rem;
}

.profile-section, .hobbies-section {
    width: 45%;
    padding: 1rem;
}

.profile-section h5, .hobbies-section h5 {
    margin-bottom: 1rem;
    color: #ffffff; /* Light text color for headers */
    text-transform: uppercase;
    letter-spacing: 1px;
}

.skills-section {
    margin-top: 1rem;
}

.skill {
    margin-bottom: 1rem;
}

.skill-name {
    font-size: 1rem;
    color: #cccccc;
    margin-bottom: 0.1rem;
    display: block;
}

.skill-bar-container {
    display: flex;
    align-items: center;
}

.skill-bar {
    width: 80%;
    background-color: #333;
    overflow: hidden;
    margin-right: 1rem;
}

.skill-level {
    height: 5px;
    background-color: #f5a214; /* Progress bar color */
}

.skill-percentage {
    font-size: 1rem;
    color: #cccccc;
}


.hobbies-list {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove padding */
    text-align: left; /* Align text to the left */
    margin-bottom: 0;
}

.hobbies-list li {
    font-size: 1rem; /* Adjust font size */
    color: #cccccc; /* Light text color */
}

li h6 {
    font-size: 1.2rem;
    color: #f5a214;
    letter-spacing: 1px;
    margin-bottom: 0.1rem;
}